<!DOCTYPE html>
<header>
  <style>
    a {
      text-decoration: none;
    }
  </style>
  <nav>
    <a href="home.html">
      <img
        width="200"
        loading="lazy"
        alt="Logotipo de conquer growth"
        src="https://cdn.prod.website-files.com/63c2c7b1f3d9c51c32335fb0/664c5634a1dfc7c6526459ec_Conquer-Blocks-logo.avif"
        border="0"
      />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    <a href="home.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="quienes-somos.html">Quiénes somos</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="cursos.html">Cursos</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="blog.html">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="registro.html">Registro</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="login.html">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="contacto.html">Contacto</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </nav>
  <hr />
</header>
